section{
    padding: 120px 40px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 80%; */
}
.image{
    height: 700px;
    width: 700px;
}
.image img{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    margin-top: 80px;
}
.landtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: last baseline;
    gap: 20px;
}
.landtext button{
    background: linear-gradient(310deg, rgb(255, 30, 0), rgb(255, 174, 0));
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.landtext button a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.landtext h1{
    font-size: 40px;
}
.landtext p{
    font-size: 24px;
    line-height: 46px;
}